/* CSS Style Declaration */


/* Prevent the text contents of draggable elements from being selectable. */
[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    /* Required to make elements draggable in old WebKit */
    -khtml-user-drag: element;
    -webkit-user-drag: element;
}


body, html {
    font-family: sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #efefef;
    width:100%;
    height:100%;
}

#mainHeader, #mainFooter {
    height: 30px;
    background-color: yellow;
    color: #fff;
}

#mainFooter {
    position: absolute;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 100;
}


.mainZone {
    position: absolute;
    top: 60px;
    bottom: 60px;
    width: 100%;
    margin: 0px;
    z-index: 20000;
    text-align: center;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    overflow-y:auto;
    overflow-x:hidden;
}

.container {
    width: 47%;
    display: inline-block;
    background-color: white;
    margin:0px 1%;
    padding: 0px;
    height: 100%;
}

footer {
    background: #8B8B8B;
    background: linear-gradient(top,  #A9A9A9,  #7A7A7A);
    background: -ms-linear-gradient(top,  #A9A9A9,  #7A7A7A);
    background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#7A7A7A));
    background: -moz-linear-gradient(top,  #A9A9A9,  #7A7A7A);
    border: solid 1px #6D6D6D;
    padding: 6px;
    color: #ccc;
    font-size: 0.6em;
    font-weight: normal;
}

header {

    -webkit-box-shadow: 2px 2px 3px #666666;
    -moz-box-shadow: 2px 2px 3px #666666;
    box-shadow: 2px 2px 3px #666666;

    background: #8B8B8B;
    background: linear-gradient(top,  #A9A9A9,  #7A7A7A);
    background: -ms-linear-gradient(top,  #A9A9A9,  #7A7A7A);
    background: -webkit-gradient(linear, left top, left bottom, from(#A9A9A9), to(#7A7A7A));
    background: -moz-linear-gradient(top,  #A9A9A9,  #7A7A7A);
    border: solid 1px #6D6D6D;

    padding: 6px;
    color: #ccc;
    font-size: 1em;
    font-weight: normal;
}


.location {
    padding-left: 1em;
    font-weight: bold;
    color: white;
}

section {
    position: absolute;
    bottom: 0px;
    top:0px;
    left: 0px;
    right: 0px;
    background-color: white;
    border:4px solid transparent;
    padding: 10px;
}

section ul {
    list-style: none;
}

.filePanel {

}

.itm {
    text-align: left;
    margin: 10px;
    padding: 0.5em 1em;
    cursor: pointer;
    padding-left: 36px;
}


.itm.directory {
    background: url(../images/folder.png) left center no-repeat;
    font-weight: bold;
}

.itm.file {
    background: url(../images/document.png) left center no-repeat;
}


.over {
    border:4px solid #000;
}


.dragged {
    opacity: 0.9;
}

#overlay {
    display: none;
    position: absolute;
    left:0px;
    top:0px;
    width: 100%;
    height:100%;
    background-color: #444;
    opacity: 0.8;
    z-index: 1000;
}


.navItem {

    -moz-box-shadow:inset 0px 0px 15px 3px #6d6d6d;
    -webkit-box-shadow:inset 0px 0px 15px 3px #6d6d6d;
    box-shadow:inset 0px 0px 15px 3px #6d6d6d;

    background-color:transparent;

    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;

    border:1px solid #555;

    display:inline-block;
    color:#ffffff;
    font-family:arial;
    font-size:15px;
    font-weight:normal;
    padding:6px 13px;
    text-decoration:none;

    text-shadow:0px 1px 0px #263666;
}
.navItem:hover {

    background-color:transparent;
}
.navItem:active {
    position:relative;
    top:1px;
}
